@model List<Card>

@{
    ViewData["Title"] = "История операций";
}

<div class="title-container" >
        <i class="fi fi-rs-time-past"></i>
        <h1>История операций</h1>
</div>

<div class="history-block">
    <div class="history-column">
        <div class="history-image"> Ыы</div>

        <div class="history-info"> 
            <div class="history-info-up"> 
                <div class="history-info-up-name"> Карта 1</div>
                <div class="history-info-up-date">21.01.2024, 21.45</div>
            </div>
            <div class="history-info-down"> Михайлов К.</div>
        </div>

        <div class="history-money"> 
            <div class="history-money-count"> + 15.00</div>
            <div class="history-money-name"> Пополнение</div>
        </div>

    </div>


</div>


