
html, body {
    height: 100%;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

hr {
    color: #1f6cd4;
    height: 2px;
    border: none;
    border-top: 3px solid #1f6cd4;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 80%;
    padding: 20px 10%;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f6cd4;
}

.menu {
    width: 80%;
    padding: 20px 10%;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f6cd4;
}

header .logo{
    font-weight: 600;
    font-size: 32px;
    color: #fff;
}

header nav a{
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

header nav a:hover {text-decoration: underline}

main {
    padding: 15px 5%;
    margin: 50px 0;
    flex: 1 1 auto;
}

footer {
    text-align: center;
    width: 100%;
    padding: 25px 0;
    color: #fff;
    background: #1f6cd4;
}

main label{
    width: 100%;
    margin-top: 10px;
    display: block;
}

main input:not([type="submit"],[type="radio"]) {
    width: 60%;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid silver;
    outline: none;
    margin-top: 7px;
    margin-bottom: 7px;
}

main input:not([type="submit"]):focus{
    border: 1px solid #1f6cd4;
}

main input[type="radio"] {
    margin: 0.4rem;
}

main input[type="submit"] {
    width: 50%;
    max-width: 300px;
    padding: 10px 0%;
    text-align: center;
    font-size: 15px;
    border-radius: 6px;
    border: 0;
    margin-top: 7px;
    margin-bottom: 7px;
    background: #1f6cd4;
    border: 1px solid #333333;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

main input[type="submit"]:hover{
    background: #458ae8;
}

main form span {
    color: #ff0000;
    font-weight: bold;
    display: block;
    margin: 1px 0;
}

.container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.item {

    background-image: url('../CardDesign1.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 20px;
    height: 280px;
    width: 450px;
    float: left;
}

.card_title {
    font-weight: bold;
    font-size: 36px;
    border-radius: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card_number {
    text-align: center;
    position: relative;
    top: 50px;
}

.card_date {
    text-align: center;
    position: relative;
    top: 70px;
}

.card_name {
    position: relative;
    top: 80px;
}

.btn {
    width: 40%;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
    margin-top: 7px;
    margin-bottom: 7px;
    background: #1f6cd4;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background: #458ae8;
}

i {
    font-size: 58px;
    padding-right: 10px;
    text-align: center;
}

.home {
    display: flex;
    flex-direction: row;
}

.block-profile {
    width: 40%;
    min-width: 350px;
}

.profile-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    min-width: 350px;
}

.title-container{
    display:flex;
    flex-direction:row;
}

.login-block, .registration-block, .newcard-block, .block-home {
    border: 1px solid black;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-block-end: 5px;
    border-radius: 5px;
    background-color: #fff;
    width: 543px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.card-info {
    border: 1px solid black;
    border-radius: 20px;
}


.card-column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 1000px) {
    .card-column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    padding: 0 16px;
}

.card-container::after, .card-row::after {
    content: "";
    clear: both;
    display: table;
}

.card-title {
    color: grey;
}

.card-image {
    border-radius: 5px;
}

.history-block {
    margin-top: 5px;

    padding-block-end: 5px;
    background-color: #fff;
    width: 800px;
    
}

.history-column {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    padding: 10px;
}

.history-image {
    width:50px;
    height:50px;
    padding-right: 10px;
}

.history-info { 
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.history-info-up {
    display: flex;
    flex-direction: row;
}

.history-info-up-name {;
    margin-right: 20px;

}

.history-info-up-date {
}

.history-info-down {
}

.history-money {
    text-align: right;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history-money-count {
}

.history-money-name {
}

.avatar {
    background: linear-gradient(blue, purple);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    display: table-cell;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form_radio_btn {
    display: inline-block;
    margin-right: 10px;
}

.form_radio_btn input[type=radio] {
    display: none;
}

.form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 3px;
    margin: 5px;
    line-height: 34px;
    border: 1px solid #333333;
    border-radius: 6px;
    user-select: none;
}


.form_radio_btn input[type=radio]:checked + label {
    background: #1f6cd4de;
}

.form_radio_btn label:hover {
    color: #333333;
}
